{% extends 'base.html.twig' %}

{% block title %}Matches{% endblock %}

{% block body %}
    <section class="hero is-info is-fullheight has-text-centered" id="landing">
        <div class="hero-body">
            <div class="container">
                <h1 class="title" style="margin-bottom: 30px">
                    Matches
                </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos optio quam quidem temporibus unde. A accusantium ad autem corporis, ipsa minima obcaecati, odio provident repellendus repudiandae sit temporibus, ut voluptas!
                </p>
                <a class="button is-rounded is-medium" style="margin-top: 30px" href="{{ path('matches') }}">Start</a>
            </div>
        </div>
    </section>
{% endblock %}
