{% extends 'base.html.twig' %}

{% block title %}Matches{% endblock %}

{% block body %}
    <section class="hero is-info is-fullheight has-text-centered" id="landing">
        <div class="hero-body">
            <div class="container">
                <h1 class="title" style="margin-bottom: 30px">
                    <img src="{{ asset('img/logo.png') }}" alt="Matches logo">
                </h1>
                <p style="text-align:center">
                    Vous est-il déjà arrivé de vous demander si deux personnalités que vous n’auriez jamais lié au premier abord, avaient finalement un lien ?  Tellement de combinaisons sont possibles…</p>
                    <p>Matches vous offre la possibilité de mettre le feu aux poudres
                </p>
                <a class="button is-rounded is-medium" id="breath" style="margin-top: 30px" href="{{ path('matches') }}">Commencer</a>
            </div>
        </div>
    </section>
{% endblock %}
